@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.35);
    font-size: 18px;
    font-weight: 300;
    color: rgb(39, 39, 84);
}

main{
    display: flex;
    flex-direction: column;
}
main .banner-bienvenida{
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5px solid rgba(128, 128, 128, 0.167) ;
    background-color: rgba(250, 235, 215, 0.385);
}



.banner-bienvenida img{
    width: 60vw;
    height: 50vh;
    object-fit: cover;
    position: absolute;
    right: 0px;
    border-radius: 5px 0px 0px 0px;
    filter: opacity(80%);
    box-shadow: -4px 4px 5px -1px rgba(0,0,0,0.29);
    -webkit-box-shadow: -4px 4px 5px -1px rgba(0,0,0,0.29);
    -moz-box-shadow: -4px 4px 5px -1px rgba(0,0,0,0.29);
}

.banner-bienvenida .contenedor-textos{
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    font-size: 24px;
    color: rgb(39, 39, 84);
    border-bottom: .5px solid #bbbff153;
    border-top: .5px solid #bbbff153;;
}

.contenedor-textos button{
    width: 20%;
    height: 15%;
    margin-top: 50px;
    background-color: #bbbff153;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px (255, 255, 255, 0.4);
    border: .5px solid rgba(0, 0, 0, 0.056);
    cursor: pointer;
    border-radius: 4px;
}

.contenedor-textos button:active{

    box-shadow: 6px 6px 10px -1px rgba(255, 255, 255, 0.7),
    -6px -6px 10px -1px rgba(0, 0, 0, 0.15);
    
}