@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

header{
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;    
    background-color: rgb(0, 0, 0);
}



.landing-page{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


.landing-page .centro-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.centro-landing div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centro-landing div img{
    width: 60%;
}

.landing-page .contenedor-textos .textos{

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    color: #ffffff;
    
}
.landing-page .contenedor-textos .textos h3{
    font-size: 24px;

}

.landing-page .blobs .blob-2{
    position: absolute;
    right: -500px;
    bottom: -100px;
    filter: opacity(60%);
}

.landing-page .blobs .blob-1{
    position: absolute;
    width: 650px;
    left: -300px;
    top: -200px;
    filter: opacity(85%);
}
/* boton con neomorfismo  */

.contenedor-textos button{
    padding: 15px 40px;
    margin-top: 50px;
    background-color: #696964c2;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px (255, 255, 255, 0.4);
    border: .5px solid rgba(0, 0, 0, 0.056);
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Roboto';
    color: white;
    font-size: 18px;
}

.contenedor-textos button:active{

    -webkit-box-shadow: inset 10px 10px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 10px 35px 0px rgba(0,0,0,0.75);
    box-shadow: inset 10px 10px 35px 0px rgba(0,0,0,0.75);
    
}

.contenedor-cotizador{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    flex-direction: row;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50vw - 20px);
    height: calc(100vh - 40px);
    box-shadow: 0px 0px 26px 5px rgba(0,0,0,0.64);
    -webkit-box-shadow: 0px 0px 26px 5px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 26px 5px rgba(0,0,0,0.64);
    background: rgba(219, 219, 219, 0.697);
    border-radius: 10px 40px;
    margin: 20px 10px;
}

form select{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 50px;
    text-align: center;
    margin: 20px 0px;
    background-color: rgba(128, 128, 128, 0.444);
    color: white;
    border-radius: 4px;
    border: .5px solid rgba(0, 0, 0, 0.506);
}

form .name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 50px;
    text-align: center;
    margin: 20px 0px;
    background-color: rgba(128, 128, 128, 0.444);
    color: white;
    border-radius: 4px;
    border: .5px solid rgba(0, 0, 0, 0.506);
}

.name::placeholder{
    color: white;
}
#submit{
    margin-top: 15px;
    width: 20vw;
    height: 40px;
    box-shadow: -4px -2px 5px 2px rgba(0,0,0,0.44);
    -webkit-box-shadow: -4px -2px 5px 2px rgba(0,0,0,0.44);
    -moz-box-shadow: -4px -2px 5px 2px rgba(0,0,0,0.44);
    background-color: white;
    border-radius: 5px ;
}

#submit:active { 
    box-shadow: 6px 6px 10px -1px rgba(229, 229, 222, 0.79),
    -6px -3px 10px -1px rgba(0, 0, 0, 0.35);
}

.divAlerta-error{
    margin: 20px 0px;
    width: 20vw;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgba(255, 0, 0, 0.288) 1px solid;
    color: white;
    background-color: rgba(223, 99, 99, 0.806);
    border-radius: 5px;
}

.divAlerta-success{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 20vw;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgba(0, 255, 55, 0.925) 1px solid;
    color: white;
    background-color: rgba(111, 221, 75, 0.849);
    border-radius: 5px;
}

.traslado-alerta{
    transform: translateX(-200%);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s  ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s  ease-in-out;
}
.presupuesto{
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid rgba(255, 255, 0, 0.542);

}

.presupuesto h3{
    text-align: center;
    height: 35px;
    background-color: rgba(255, 255, 0, 0.542);
    width: 100%;
}

.presupuesto p{
    margin: 3px;
}
.presupuesto p span {
    font-weight: bolder;
    
}

.contenedor-cotizaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.contenedor-cotizaciones h3{
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin-top: 25px;
    height: 50px;
}

.lista-cotizaciones{
    display: flex;
    flex-direction: column-reverse;
    width: 50vw;
    /* height: 100vh; */
    align-items: center;
    justify-content: start;
}
.lista-cotizaciones li {
    list-style-type: none;
}

